
<div style="margin:-75px 0 80px 80px;"><%=link_to("欢迎来到猎人学院!", products_path, class: "col-red")%></div>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
</head>
<div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">
        <!-- Third Slide -->
        <div class="item active">
            <!-- Slide Background -->
            <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fftcz6mb53j31660k83zx.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
            <div class="bs-slider-overlay"></div>
            <div class="container">
                <div class="row">
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_right">
                        <h1 data-animation="animated zoomInRight">通往财富自由之路</h1>
                        <p data-animation="animated fadeInLeft">人人都至少有一次机会。</p>
                        <a href="https://h5.sao.cn/product/detail?alias=onhnfsdtybxb" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">课程介绍</a>
                        <a href="https://h5.sao.cn/product/detail?alias=onhnfsdtybxb" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">订购课程</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Slide -->
        <!-- Second Slide -->
        <div class="item">
            <!-- Slide Background -->
            <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fftziqwoexj31kw0rath7.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
            <div class="bs-slider-overlay"></div>
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_left">
                <h1 data-animation="animated flipInX">极速读书会</h1>
                <p data-animation="animated lightSpeedIn">这也许是你参加的最后一个读书会。</p>
                <a href="https://speedread.club" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">课程介绍</a>
                <a href="https://speedread.club" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">订购课程</a>
            </div>
        </div>
        <!-- End of Slide -->
        <!-- Third Slide -->
        <!-- <div class="item">
                <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1ffttfqgf60j30go06r3yw.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                <div class="bs-slider-overlay"></div>
                  <div class="slide-text slide_style_center">
                    <h1 data-animation="animated zoomInLeft">心流学习法</h1>
                    <p data-animation="animated fadeInRight">快速入门任何专业技能。</p>
                    <a href="https://floating-earth-63565.herokuapp.com" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">课程介绍</a>
                    <a href="https://floating-earth-63565.herokuapp.com" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">订购课程</a>
                </div>
            </div> -->
        <!-- End of Slide -->
    </div>
    <!-- End of Wrapper For Slides -->
    <!-- Left Control -->
    <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <!-- Right Control -->
    <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- End  bootstrap-touch-slider Slider -->
<!-- 页面飘动和文字飘入的js -->
<script>
    $('.carousel').carousel({
                       interval: 4000 //修改页面的更换速度
                   })
                   $('#bootstrap-touch-slider').bsTouchSlider();
</script>
<script>
    $(document).ready(function () {
                   $('.material-button-toggle').click(function () {
                       $(this).toggleClass('open');
                       $('.option').toggleClass('scale-on');
                   });
                  });
</script>
<!-- 页面飘动和文字飘入的js结束 -->
<!-- 流动字体 -->
<!-- <div class="container">
        <div class="row">
            <svg viewBox="0 0 960 300">
                <symbol id="s-text">
                    <text text-anchor="middle" x="50%" y="60%">认知学院 </text> -->
<!-- 这里可以调整字体的xy轴 -->
<!-- </symbol>
                <g class = "g-ants">
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                </g>
            </svg>
        </div>
    </div> -->
<!-- 流动字体结束 -->

<!-- 翻转小卡片  开始 -->
<div class="container">
    <h1 style="text-align:center;margin:100px 0px; font-size:3em;">大 咖 课 程</h1>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 ">
            <div class="col-md-4 col-sm-6 wow fadeInUpBig" data-wow-delay="0.2s">
                <div class="card-container ">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="https://www.clipartsgram.com/image/124089475-california-beaches-tumblr-wallpaper-3.jpg"/>
                            </div>
                            <div class="user">
                                <img class="img-circle" src="https://ww3.sinaimg.cn/large/006tKfTcgy1fftz3roaiwj30y00z87bp.jpg"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">《通往财富自由之路》</h3>
                                    <h5 class="profession">李笑来</h5>
                                    <p class="text-center"></br>"人人都至少有一次机会！"</p>
                            </div>
                            <div class="footersmall">
                                <div class="rating">
                                    <i class="fa fa-mail-forward"></i> 查看详情
    						                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h4 class="profession">课程简介</h4>
                        </div>
                        <div class="content">
                            <div class="main">
                                <!-- <h4 class="text-center">Job Description</h4> -->
                                <p class="text-center">在这个课程里，亿万富翁李笑来带着大家每周更新一个观念，一年 52 次深入探讨，请大家上车，一起赶路，通往财富自由。</p>
                                <div class="stats-container">
                                    <div class="stats">
                                        <h4>235000</h4>
                                        <p>
                                            浏览
  						                           </p>
                                    </div>
                                    <div class="stats">
                                        <h4>155581</h4>
                                        <p>
                                            订阅
  								                    	</p>
                                    </div>
                                    <div class="stats">
                                        <h4>340</h4>
                                        <p>
                                            课程
  										                   	</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footersmall">
                            <div class="social-links text-center">
                                <a href="https://h5.sao.cn/product/detail?alias=onhnfsdtybxb">订购课程</a>
                            </div>
                        </div>
                    </div>
                    <!-- end back panel -->
                </div>
                <!-- end card -->
            </div>
            <!-- end card-container -->
        </div>
        <!-- end col sm 3 -->
        <!-- <div class="col-sm-1"></div> -->
        <div class="col-md-4 col-sm-6 wow fadeInUpBig" data-wow-delay="0.4s">
            <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="https://www.clipartsgram.com/image/129556292-kyz84k3.jpg"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="https://ww1.sinaimg.cn/large/006tKfTcgy1fftzbngsz8j302o02ot8i.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">《极速读书法》</h3>
                                <h5 class="profession">Xdite</h5>
                                <p class="text-center"></br>"你这辈子参加的最后一个读书会。"</p>
                        </div>
                        <div class="footersmall">
                            <div class="rating">
                                <i class="fa fa-mail-forward"></i> 查看详情
            </div>
                        </div>
                    </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                    <div class="header">
                        <h4 class="profession">课程简介</h4>
                    </div>
                    <div class="content">
                        <div class="main">
                            <!-- <h4 class="text-center">Job Description</h4> -->
                            <p class="text-center">首个真正具备「读书会」效果的「读书会」，独家上瘾式读书法让人停不下来。
              和数万人共同享受大脑升级的极致快感。告别低效无用读书，立即产生行动改变。在这里，人人都有极速阅读能力。</p>
                            <div class="stats-container">
                                <div class="stats">
                                    <h4>12000</h4>
                                    <p>
                                        浏览
  										             	</p>
                                </div>
                                <div class="stats">
                                    <h4>5060</h4>
                                    <p>
                                        订阅
  										             	</p>
                                </div>
                                <div class="stats">
                                    <h4>93</h4>
                                    <p>
                                        课程
  										             	</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footersmall">
                        <div class="social-links text-center">
                            <a href="https://speedread.club">订购课程</a>
                        </div>
                    </div>
                </div>
                <!-- end back panel -->
            </div>
            <!-- end card -->
        </div>
        <!-- end card-container -->
    </div>
    <!-- end col sm 3 -->
    <!-- <div class="col-sm-1"></div> -->
    <div class="col-md-4 col-sm-6 wow fadeInUpBig" data-wow-delay="0.6s">
        <div class="card-container">
            <div class="card">
                <div class="front">
                    <div class="cover">
                        <img src="https://ww4.sinaimg.cn/large/006tNc79gy1ffu099jhmoj30md0adwf5.jpg"/>
                    </div>
                    <div class="user">
                        <img class="img-circle" src="https://ww4.sinaimg.cn/large/006tNc79gy1ffu06uwp4qj308c08cwez.jpg"/>
                    </div>
                    <div class="content">
                        <div class="main">
                            <h3 class="name">《心流学习法》</h3>
                            <p class="profession">赵龙</p>
                            <p class="text-center"></br>"快速入门任何职业技能"</p>
                    </div>
                    <div class="footersmall">
                        <div class="rating">
                            <i class="fa fa-mail-forward"></i> 查看详情
  						</div>
                    </div>
                </div>
            </div>
            <!-- end front panel -->
            <div class="back">
                <div class="header">
                    <h4 class="profession">课程简介</h4>
                </div>
                <div class="content">
                    <div class="main">
                        <!-- <h4 class="text-center">Job Description</h4> -->
                        <p class="text-center">关于学习方法的知识，通过心流学习法可以让你在短时间内进入学习状态，高效利用时间，大量压缩准备时间，达到快速学习的目的。</p>
                        <div class="stats-container">
                            <div class="stats">
                                <h4>530</h4>
                                <p>
                                    浏览
  										             	</p>
                            </div>
                            <div class="stats">
                                <h4>120</h4>
                                <p>
                                    订阅
  									             		</p>
                            </div>
                            <div class="stats">
                                <h4>11</h4>
                                <p>
                                    课程
  									             		</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footersmall">
                    <div class="social-links text-center">
                        <a href="https://floating-earth-63565.herokuapp.com">订购课程</a>
                    </div>
                </div>
            </div>
            <!-- end back panel -->
        </div>
        <!-- end card -->
    </div>
    <!-- end card-container -->
</div>
<!-- end col-sm-3 -->
</div>
<!-- end col-sm-10 -->
</div>
<!-- end row -->
<div class="space-150"></div>
</div>
<!-- 翻转小卡片 结束 -->
<div class="lp">
    <div class="lp-advantage pt60 pb100 lp-bg-gray ">
        <h2 class="lp-advantage-title  tc f22 pb50 wow fadeInUp">「我们可以给您提供什么」</h2>
        <div class="container bc ">
            <div class="row">
                <div class="col-md-4">
                    <div class="lp-advantage-item bc pl20 pr20 tc wow fadeInUp" data-wow-delay="0.4s">
                        <img class="lp-advantage-img" src="https://ww1.sinaimg.cn/large/006tKfTcgy1fg13j5pyvsj30fo0dzju0.jpg">
                        <p class="lp-advantage-title f18 mt20 wow fadeInUp" data-wow-delay="0.8s">最好的课程</p>
                        <p class="lp-advantage-desc f14 pl20 pr20 mt30 wow fadeInUp" data-wow-delay="1.2s">我们通过大数据搜索，为您猎取最好的互联网课程，只有您想不到的好课程，没有我们猎不到的好课程。</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lp-advantage-item bc pl20 pr20 tc wow fadeInUp" data-wow-delay="0.4s">
                        <img class="lp-advantage-img" src="https://ww2.sinaimg.cn/large/006tKfTcgy1fg13e5zglaj30fo0fogml.jpg">
                        <p class="lp-advantage-title f18 mt20 wow fadeInUp" data-wow-delay="0.8s">良好的学习体验</p>
                        <p class="lp-advantage-desc f14 pl20 pr20 mt30 wow fadeInUp" data-wow-delay="1.2s">猎人学员采用学习游戏化的设计理念，协助你培养学习习惯，引用游戏化的相关理念，不同的课程将使用不同的学习策略和授课形式。</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lp-advantage-item bc pl20 pr20 tc wow fadeInUp" data-wow-delay="0.4s">
                        <img class="lp-advantage-img" src="https://ww2.sinaimg.cn/large/006tKfTcgy1fg13fftbn5j3069069wem.jpg">
                        <p class="lp-advantage-title f18 mt20 wow fadeInUp" data-wow-delay="0.8s">成长社群</p>
                        <p class="lp-advantage-desc f14 pl20 pr20 mt30 wow fadeInUp" data-wow-delay="1.2s">一个走的更快，但是一群人会走的更远，为成长者搭建一个学习型社群，互相学习，共同进步。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="lp-how pt60 pb60">
  		<h2 class="title tc f22 pb20">我们是如何快速送达商品的</h2>
  		<p class="f16 tc light">与全国180多个城市大型超市合作，每天有无数的快递员穿梭于您与超市之间。</p>
  	</div> -->
    <div class="lp-feedback pt60 pb60 ">
        <h2 class="lp-advantage-title  tc f22 pb20">「猎人学员」的超级学员</h2>
        <p class="f16 tc light pb30">听听他们是怎么评价的</p>
        <div class="home-people container">
            <div class="row">
                <div class="item person fl col-md-4">
                    <div class="avata-wrapper wow flipInX" data-wow-delay="0.8s">
                        <img class="avata" src="https://ww4.sinaimg.cn/large/006tKfTcgy1fg0z4ym36uj307s07qaad.jpg">
                    </div>
                    <div class="intro clearfix wow flipInX" data-wow-delay="0.8s">
                        <div class="name">
                            罗振宇
  	          </div>
                    </div>
                    <div class="words wow zoomIn" data-wow-delay="1s">
                        <span class="bg"></span>
                        <span class="fa fa-quote-left quote quote-l iconfont"></span>
                        <span class="fa fa-quote-right quote quote-r iconfont"></span>
                        <div class="lp-advantage-desc ">作为一个知识的重度依赖者，一直在困惑互联网的知识过载，苦苦不知道该如何寻找好的知识课程，「猎人学院」帮我解决了这一大难题。</div>
                    </div>
                </div>
                <div class="item person fl col-md-4">
                    <div class="avata-wrapper wow flipInX" data-wow-delay="0.8s">
                        <img class="avata" src="https://ww4.sinaimg.cn/large/006tKfTcgy1fg0yz02s9hj30g00g0tac.jpg">
                    </div>
                    <div class="intro clearfix wow flipInX" data-wow-delay="0.8s">
                        <div class="name">
                            王秒
  	          </div>
                    </div>
                    <div class="words wow zoomIn" data-wow-delay="1s">
                        <span class="bg"></span>
                        <span class="fa fa-quote-left quote quote-l iconfont"></span>
                        <span class="fa fa-quote-right quote quote-r iconfont"></span>
                        <div class="lp-advantage-desc">在学习的过程中，「猎人学院」不但提供优质的课程，还为很多课程提供了专业的定制化工具，大大提高了学习的效率，赞！</div>
                    </div>
                </div>
                <div class="item person fl col-md-4">
                    <div class="avata-wrapper wow flipInX" data-wow-delay="0.8s">
                        <img class="avata" src="https://ww3.sinaimg.cn/large/006tKfTcgy1fg0yxkme7ej30g00g1abo.jpg">
                    </div>
                    <div class="intro clearfix wow flipInX" data-wow-delay="0.8s">
                        <div class="name">
                            Nic
  	          </div>
                    </div>
                    <div class="words wow zoomIn" data-wow-delay="1s">
                        <span class="bg"></span>
                        <span class="fa fa-quote-left quote quote-l iconfont"></span>
                        <span class="fa fa-quote-right quote quote-r iconfont"></span>
                        <div class="lp-advantage-desc">代码敲到累的时候，上「猎人学院」逛一逛，寻找一些轻松的自己喜欢的课程，可以放松一下大脑，开开脑洞，编出代码更完美。</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- navbar的js效果 -->
<!-- <script>
        $(document).ready(function(){
                    //  $(".navbar-fixed-top navbar-default").css("background-color", "transparent"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
                    //  $(".navbar-fixed-top navbar-default").css("border-color", "transparent"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
                  $(window).scroll(function() { // check if scroll event happened
                     if ($(document).scrollTop() > 700) { // check if user scrolled more than 50 from top of the browser window
                      //  $(".navbar-fixed-top").css("background-color", "#fff"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
                       $(".navbar-default").css("width", "auto").css("margin-top","0px").css("left", "0%").css("margin-left", "0px"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
                       $(".navbar-default").css("padding", "10px 200px");
                     } else {
                       $(".navbar-fixed-top navbar-default").css("background-color", "transparent"); // if not, change it back to transparent
                     }
                   });
                  });
    </script> -->
