//最上方导航
/*字体颜色和背景颜色*/
.bg-gray {
  background: #F5F5F5
}
.bg-red {
  background: #D32048
}
.col-gray {
  color: #808080;
}
.col-black {
  color: #333333;
}
.col-red {
  color: #d32048;
}
.col-blue {
  color: #005AA0;
}

/*边框*/
.border {
  border: 1px solid #DDDDDD;
}


// 导航栏
.navbar-wrap {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #EEEEEE;
  overflow: hidden;
  color: #909090;
}
.jh_navbar-spacer {
  width: 1px;
  height: 12px;
  margin-top: 9px;
  padding: 0;
  background: #ddd;
  overflow: hidden;
}

.ph_navabr-fontcolor
{
  color: #6D6D6D
}


/*logo*/
.logo {
  font-size: 36px;
}

.logo {
  width: 360px;
  height: 60px;

}

// 小导航栏






.navbar-default {
    background-color: #20B2AA;
    //背景颜色
    border-color: #20B2AA; //边框色

    padding: 5px 50px;//调整navbar内容的左右距离
    margin-top: 30px;
    margin-bottom: 0; //底部 margin 不撑开距离
    box-shadow: 0 0 10px rgba(0,0,0,.7); //阴影
    width: 1200px;
    left: 50%;
    margin-left: -600px;
    z-index: 9999;

    &.show_move{
        background-color: #20B2AA;
        border-color: #20B2AA; //边框色
      background: rgba(32,178,170,0.7);
        padding: 5px 120px;
        margin-top: 0px;
        margin-bottom: 0; //底部 margin 不撑开距离
        box-shadow: 0 0 10px rgba(0,0,0,.7); //阴影
        width: auto;
        left: 0%;
        margin-left: 0px;
        z-index: 9999;

    }
}


//去掉导航栏的圆角
@media (min-width: 768px) {
    .navbar {
        border-radius: 0; //圆角为0
    }
}


//修改 Logo 字体颜色和对齐样式
.navbar-default .navbar-brand {
    // color: #696969; //字体颜色
    color: #fff; //字体颜色
    margin-top: -10px;


    padding: 10px 15px; //上下10px，左右15px
    line-height: 50px; //文字行高
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #FF6F00; //鼠标放置在链接上的文字颜色
    background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
}
//修改导航栏链接颜色
.navbar-default .navbar-nav > li > a {
    color: #fff; //产品注册字体颜色
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #FF6F00;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #FF6F00;
    background-color: #FFE0B2;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #FFE0B2;
    color: #212121;
}
