//最上方导航
/*字体颜色和背景颜色*/
.bg-gray {
  background: #F5F5F5
}
.bg-red {
  background: #D32048
}
.col-gray {
  color: #808080;
}
.col-black {
  color: #333333;
}
.col-red {
  color: #d32048;
}
.col-blue {
  color: #005AA0;
}
.col-white{
  color:#fff;
}

/*边框*/
.border {
  border: 1px solid #DDDDDD;
}


// 导航栏
.navbar-wrap {

  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #EEEEEE;
  overflow: hidden;
  color: #909090;
}
.jh_navbar-spacer {
  width: 1px;
  height: 12px;
  margin-top: 9px;
  padding: 0;
  background: #ddd;
  overflow: hidden;
}

.ph_navabr-fontcolor
{
  color: #6D6D6D
}


/*logo*/
.logo {
  font-size: 36px;
}

.logo {
  width: 360px;
  height: 60px;

}

// 小导航栏
